hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    font-size: 18px;
}

h2, .h2,
h3, .h3 {
    margin-bottom: 25px;
}

h3, .h3 {
    margin-top: 35px;
}

pre .hljs {
    padding: 5px;
}

#page-content-wrapper section pre code {
    font-size: 18px;
    line-height: 1.3;
}

.sidebar-nav > .sidebar-brand a .brand-wrapper {
	width: 40px;
}